<?xml version="1.0" encoding="UTF-8"?>

<robot name="bumperbot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <transmission name="wheel_right_transmission">
        <plugin>transmission_interface/SimpleTransmission</plugin>
        <joint name="wheel_right_joint" role="joint_right">
            <mechanical_reduction>1.0</mechanical_reduction>
        </joint>
        <actuator name="wheel_right_motor" role="actuator_right"/>
    </transmission>

    <transmission name="wheel_left_transmission">
        <plugin>transmission_interface/SimpleTransmission</plugin>
        <joint name="wheel_left_joint" role="joint_left">
            <mechanical_reduction>1.0</mechanical_reduction>
        </joint>
        <actuator name="wheel_left_motor" role="actuator_left"/>
    </transmission>
    
    <gazebo reference="wheel_right_link">
        <mu1>100000000000000.0</mu1>
        <mu2>100000000000000.0</mu2>
        <kp>1000000000000.0</kp>
        <kd>10.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <fdir1>1 0 0</fdir1>
    </gazebo>

    <gazebo reference="wheel_left_link">
        <mu1>100000000000000.0</mu1>
        <mu2>100000000000000.0</mu2>
        <kp>1000000000000.0</kp>
        <kd>10.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <fdir1>1 0 0</fdir1>
    </gazebo>

    <gazebo reference="caster_front_wheel">
        <mu1>0.1</mu1>
        <mu2>0.1</mu2>
        <kp>1000000.0</kp>
        <kd>100.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
    </gazebo>

    <gazebo reference="caster_rear_wheel">
        <mu1>0.1</mu1>
        <mu2>0.1</mu2>
        <kp>1000000.0</kp>
        <kd>100.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
    </gazebo>

    <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
            <robot_param>robot_description</robot_param>
            <robot_param_node>robot_state_publisher</robot_param_node>
            <parameters>$(find bumperbot_controller)/config/bumperbot_controllers.yaml</parameters>
        </plugin>
    </gazebo>

    <!-- Lidar Sensor-->
    <gazebo reference="laser_link">
        <sensor name="lidar" type="ray">
            <always_on>true</always_on>
            <visualize>true</visualize>
            <update_rate>5</update_rate> <!-- in HZ-->
            <ray>
                <scan>
                    <horizontal>
                        <samples>360</samples>
                        <resolution>1.0</resolution>
                        <main_angle>0.0</main_angle>
                        <max_angle>6.28</max_angle> <!-- in radiants-->
                    </horizontal>
                </scan>
                <range>
                    <min>0.12</min> <!-- in m-->
                    <max>12.0</max> <!-- in m-->
                    <resolution>0.02</resolution> <!-- in m-->
                </range>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.01</stddev>
                </noise>
            </ray>
            <plugin name="scan" filename="libgazebo_ros_ray_sensor.so">
                <ros>
                    <remapping>~/out:=scan</remapping>
                </ros>
                <output_type>sensor_msgs/LaserScan</output_type>
                <frame_name>laser_link</frame_name>
            </plugin>
        </sensor>
    </gazebo>

</robot>